* {
    box-sizing: border-box;
}

.container {
    background: red;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 75px;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    background: green;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 0 -10px;
    padding-top: 20px;
}

.col {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    padding: 0 10px;
    margin-bottom: 20px;
}

.yellow,
.blue,
.pink {
    min-height: 150px;
    padding: 0 10px;
}

.yellow {
    background: yellow;
}
.blue {
    background: blue;
}

.pink {
    background: pink;
}

div .col:nth-child(1),
div .col:nth-child(4) {
    max-width: 75%;
    flex-basis: 75%;
}

div .col:nth-child(2),
div .col:nth-child(3) {
    max-width: 25%;
    flex-basis: 25%;
}

div .col:nth-child(5),
div .col:nth-child(6) {
    max-width: 50%;
    flex-basis: 50%;
}

div .col:nth-child(7) {
    max-width: 100%;
    flex-basis: 100%;
}

@media (max-width: 540px) {
    div .col:nth-child(-n+6) {
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media (orientation: portrait) {
    .container {
        min-height: 400px;
    }
}

@media (orientation: landscape) {
    .container {
        min-height: 150px;
    }
}
